html, body { height: 100%; }
.surveyContainer {
    height: 100vh; 
    text-align:left;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
     margin:auto;
    
  }
.surveyForm{
    max-width: 30rem;
    display: flex;
    flex-direction:column;
 
}
.surveyContent {
    max-width: 30rem;
  }
  