
.districtName {
  color: black;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem; /* 62.5% */
  letter-spacing: 0.3375rem;
  margin-top: 4em;
  margin-left: 10rem;
  text-transform: uppercase;
}

.btnGrp {
  margin-left: 10rem;
  margin-top:2rem;
  display:flex;
  gap:2rem;
  
}
.basic {
  width: 12.875rem;
  height: 3.375rem;
  background: #FF0000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #FFF;
font-family: Public Sans;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 1.5625rem; /* 104.167% */
letter-spacing: -0.015rem;
cursor:pointer;
}
.basic:hover{
    background: black;
}
.std {
  width: 12.875rem;
  height: 3.375rem;
  background: #FF8126;
  box-shadow: -4px 7px 6px 0px rgba(0, 0, 0, 0.25);

  border: none;
  color: #FFF;
font-family: Public Sans;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 1.5625rem; /* 104.167% */
letter-spacing: -0.015rem;
cursor:pointer;
}
.std:hover{
    background: black;
}
.premium {
  width: 12.875rem;
  height: 3.375rem;
  background: #1C61C8;
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #FFF;
font-family: Public Sans;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 1.5625rem; /* 104.167% */
letter-spacing: -0.015rem;
cursor:pointer;
}
.premium:hover{
    background: black;
}

.active-button{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25), 0px 4px 18px 9px rgba(88, 80, 80, 0.25) inset;

}
.analysisTitle{
    text-transform:capitalize;
    color: #000;
font-family: Public Sans;
font-size: 2.25rem;
font-style: normal;
font-weight: 500;
line-height: 1.5625rem; /* 69.444% */
letter-spacing: 0.09rem;
margin-left:10rem;
margin-top:5rem;
}

.analysisCont{
width: 71.5rem;
height:65rem;
background: #FAFAFA;
box-shadow: 0px 4px 22px 6px rgba(0, 0, 0, 0.25);
margin-left:10rem;
margin-top:5rem;
display:flex;
flex-direction:column;
gap:2rem;
margin-bottom:5rem;
}

@media screen and (max-width:1280px)
{
    .districtName ,
    .btnGrp,
    .analysisTitle,
    .analysisCont{
          margin-left:5rem;

    }
      
}
@media screen and (max-width:480px)
{
     .districtName{
      font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 1.5625rem; /* 104.167% */
letter-spacing: 0.2025rem;
margin-left:1rem;
     }
     .btnGrp{
      
      gap:0.2rem;
      margin-left:0.5rem;
     }
      .basic,
      .std,
      .premium{
   margin-left:1rem;
   width:5rem;
   height:2rem;
   font-size:1rem;
      }
      .analysisTitle{
        font-size: 1.5rem;
        margin:0;
        margin-left:1.2rem;
        margin-top:2rem;
    margin-bottom:2rem;
      }

      .analysisCont{
        width: 20.5rem;
        height:40rem;
        margin:0;
        margin-left:1rem;
      }

}