.reportTitle{
    color: #000;
font-family: Montserrat;
font-size: 3rem;
font-style: normal;
font-weight: 500;
line-height: 3.65625rem; 
letter-spacing: 0.12rem;
width: 53.5625rem;
height: 4.6875rem;
 
 margin-left:2rem;
}
.sideRect{
    width: 2.25rem;
height: 7rem;
background: #BF0C0F;
margin-left:6rem;
 
}
.reportTitleCont{
    display:flex;
 
    margin-top:16rem;
}