
.horizontal-linear-gauge {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
    margin:0;
    padding:0;
  }
  
  .gauge-bar {
    background-color: #ccc;
    height: 20px;
    width: 100%;
    position: relative;
    border-radius:9px;
  }
  
  .gauge-fill {
    background-color:  #FF5070; 
    height: 100%;
    transition: width 0.5s; 
    border-radius:9px; 
  }
  
